{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- Main Content -->
<div id="content">

    {% include 'messages.html' %} 
    
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="container">
            <div class="text-center py-2">
              <img src="{% static 'img/CN_ninja_boy.png' %}" style="width: 10em;" alt class="ui-w-100 rounded-circle">
        
              <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
                <h3 class="font-weight-bold my-4">{{ user.first_name }} {{ user.last_name }}</h3>
              </div>
            </div>
        </div>
        <hr class="m-0"><br><br>    

        <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Scratch <span
                            class="float-right">{{ scratch_completion }}%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ scratch_completion }}%"
                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Circuits <span
                            class="float-right">{{ 10 }}</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{ circuits_completion }}%"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Robotics <span
                            class="float-right">{{ robotics_total }}</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ robotics_completion }}%"
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">LEGO <span
                            class="float-right">{{ lego_total }}</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ lego_completion }}%"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Typing <span
                            class="float-right">*exercises not added*</span></h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 0%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

        <div class="row">
            <!-- Total Projects -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-bottom-dark shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                    Total Projects</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-list-ol fa-3x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- WPM -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-bottom-dark shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                    Words Per Minute (WPM)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-keyboard fa-3x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


          <!-- Bar Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                   <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                    <hr>
                </div>
            </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>

<script>
    var ctx = document.getElementById("myBarChart");
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["Scratch", "Circuits", "Robotics", "LEGO", "Typing"],
    datasets: [{
      label: "Completed",
      backgroundColor: ["#f6c23e", "#36b9cc", "#e74a3b", "#1cc88a", "#4e73df"],
      // hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: [{% for i in all_completed %} {{ i }}, {% endfor %}],
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 50,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 30,
          maxTicksLimit: 5,
          padding: 10,
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 20,
      titleFontColor: '#6e707e',
      titleFontSize: 16,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
        }
      }
    },
  }
});
</script>

{% endblock %}