{% extends 'index.html' %}

{% block content %}

<!-- Main Content -->
<div id="content">
 
    <!-- Begin Page Content -->
    <div class="container-fluid">
        
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">LEGO</h1>
        
        <div class="row">
            {% for prj in projects %}
            <div class="col-md-4">
                <!-- LEGO Cards -->
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">LEGO</h6> 
                            </div>
                        </div>
                        <div class="badge"> <span>{{ prj.level }}</span> </div>
                    </div>
                    <div class="mt-5">
                        <a style="cursor: pointer;" data-toggle="modal" data-target="#activitiesModal">
                        <h3 class="heading">{{ prj.project_name }}</h3>
                        </a>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}