{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Users</title>
    
	<!-- Simple bar CSS -->
  <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">

  <!-- Fonts CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Icons CSS -->
  <link rel="stylesheet" href="{% static 'css/feather.css' %}">
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.css' %}">

  <!-- App CSS -->
  <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">

  </head>
  <body class="vertical  light  ">
    <div class="wrapper">
		{% include 'includes/navbar.html' %}

		{% include 'includes/sidebar.html' %}
      <main role="main" class="main-content">
        {% include 'messages.html' %} 
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col">
              <h2 class="h3 mb-0 page-title">Users</h2>
              <p class="text-muted">List of our ninjas</p>

              <div class="row">

                <!-- Total users -->
                <div class="col-md-4 mb-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-primary">
                            <i class="fe fe-16 fe-activity text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col">
                          <p class="small text-muted mb-0">Total</p>
                          <span class="h3 mb-0"> {{ total }} </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Active Users -->
                <div class="col-md-4 mb-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-success">
                            <i class="fe fe-16 fe-user-check text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col">
                          <p class="small text-muted mb-0">Active</p>
                          <span class="h3 mb-0">{{ active }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Inactive users -->
                <div class="col-md-4 mb-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-danger">
                            <i class="fe fe-16 fe-user-x text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col">
                          <p class="small text-muted mb-0">Inactive</p>
                          <span class="h3 mb-0">{{ inactive }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row my-3">
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="col ml-auto">
                        <div class="dropdown float-right">
                          <button class="btn btn-sm btn-secondary" type="button" id="export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
                          <button class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#userModel">Add new <i class="fe fe-9 fe-plus text-white mb-0"></i></button>
                        </div>
                      </div>

                      <!-- Table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Dojo</th>
                            <th>Active</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                          <tr>
                              <td><a href="{% url 'user' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></td>
                              <td>{{ user.username }}</td>
                              <td>{{ user.first_name|lower }}.{{ user.last_name|lower }}</td>
                              {% if user.is_active %}
                                <td><span class="badge badge-pill badge-success text-white">Active</span></td>
                              {% else %}
                                <td><span class="badge badge-pill badge-danger text-white">Inactive</span></td>
                              {% endif %}
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        
        {% include 'webpages/links.html' %}

        <!-- Modal -->
        <div class="modal fade" id="userModel" tabindex="-1" role="dialog" aria-labelledby="verticalModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="verticalModalTitle">New user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" action="{% url 'users' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="col-form-label">First Name:</label>
                    <input type="text" name="firstname" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Last Name:</label>
                    <input type="text" name="lastname" class="form-control" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn mb-2 btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </main> <!-- main -->
    </div> <!-- .wrapper -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/simplebar.min.js' %}"></script>
  <script src="{% static 'js/jquery.stickOnScroll.js' %}"></script>
  <script src="{% static 'js/tinycolor-min.js' %}"}></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

  <script>
    $('#dataTable-1').DataTable(
    {
      autoWidth: true,
      "lengthMenu": [
        [20, 30, 70, -1],
        [20, 30, 70, "All"]
      ],
    });
  </script>

</html>
