{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>User</title>

    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">

    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">

    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">
    <!-- <link rel="stylesheet" href="css/app-dark.css" id="darkTheme" disabled> -->

  </head>

  <body class="vertical  light  ">
    <div class="wrapper">
      {% include 'includes/navbar.html' %}
      {% include 'includes/sidebar.html' %}
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col">
              <h2 class="h3 mb-4 page-title">Profile</h2>
              
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <img src="{% static 'assets/avatars/ninja.png' %}" width="80" alt="..." class="avatar-img rounded-circle">
                    </div>
                    <div class="col ml-n2">
                      <strong class="mb-1">{{ user.first_name }} {{ user.last_name }}</strong>
                      {% if user.is_active %}
                        <span class="dot dot-lg bg-success ml-1"></span>
                      {% else %}
                        <span class="dot dot-lg bg-danger ml-1"></span>
                      {% endif %}
                      <p class="small text-muted mb-1">Joined {{ user.date_joined }}</p>
                    </div>
                  </div>
                </div>
              </div> <!-- / .card -->
              
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="card shadow eq-card timeline">
                    <div class="card-header">
                      <strong class="card-title">Activities</strong>
                      <a class="float-right small text-muted">Total: {{ activities.count }}</a>
                    </div>
                    
                    <div class="card-body" data-simplebar style="height: 500px; overflow-y: auto; overflow-x: hidden;">
                      <div class="list-group list-group-flush my-n3">
                        {% if activities %}
                          {% for activity in activities %}
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <span class="circle circle-sm bg-primary"><i class="fe fe-zap fe-16 text-white"></i></span>
                              </div>
                              <div class="col">
                                <small><strong>{{ activity.date_created }}, {{ activity.date_created|date:'l' }}</strong></small>
                                <p><small>Graded By: </small><span class="badge badge-pill badge-light">{{ activity.sensei_name }}</span></p>
                                {% if activity.ninja_comment %}
                                  <div class="card mt-2 mb-2">
                                    <div class="card-body bg-light small py-2 px-3">{{ activity.ninja_comment }}</div>
                                  </div>
                                {% else %}
                                {% endif %}
                                <p>
                                  <span class="badge badge-pill badge-primary">{{ activity.topic_id }}</span>
                                  <span class="badge badge-pill badge-primary">{{ activity.project_id }}</span>
                                  {% if activity.is_completed %}
                                    <span class="dot dot-lg bg-success ml-1"></span>
                                  {% else %}
                                    <span class="dot dot-lg bg-danger ml-1"></span>
                                  {% endif %}
                                </p>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        {% else %}
                          <div class="mt-2 text-muted small"> Haven't started journey </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-md-6">
                  <div class="card shadow mb-4">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                          <span class="h2 mb-0">$1.2K</span>
                          <br><br>
                          <span class="badge badge-pill badge-warning text-white">Scratch</span>
                        </div>
                        <div class="col-auto">
                          <span class="fe fe-32 fe-sunrise text-muted mb-0"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card shadow mb-4">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                          <span class="h2 mb-0">$1.2K</span>
                          <br><br>
                          <span class="badge badge-pill badge-warning text-white">Scratch</span>
                        </div>
                        <div class="col-auto">
                          <span class="fe fe-32 fe-sunrise text-muted mb-0"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card shadow mb-4">
                    <div class="card-header">
                      <strong>Free Flow</strong>
                    </div>
                    <div class="card-body">
                      <div class="mb-2">
                        <div id="performance"></div>
                      </div>
                    </div> 
                  </div> 
                </div> -->

            </div>

            </div>
          </div>
        </div>
        
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/apexcharts.min.js' %}"></script></div>
    <script src="{% static 'js/apexcharts.custom.js' %}"></script>

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

    <script>
      var options = {
          series: [44, 55, 13, 34, 89, 10, 02, 90, 12],
          chart: {
          width: 400,
          type: 'donut',
        },
        labels: [
          {% for project in projects %}
            {{ project.project_name }},
          {% endfor %}
        ],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

      var chart = new ApexCharts(document.querySelector("#performance"), options);
      chart.render();
    </script>
  </body>
</html>