{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Code Ninjas</title>
    
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" href="{% static 'css/uppy.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.steps.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/quill.snow.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">

  </head>
  <body class="vertical  light  ">
    <div class="wrapper">
      {% include 'includes/navbar.html' %}

      {% include 'includes/sidebar.html' %}

      <main role="main" class="main-content">
        {% include 'messages.html' %} 
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="w-50 mx-auto text-center justify-content-center py-5 my-5">
                <h2 class="page-title mb-0">Welcome to Code Ninjas</h2>
                <p class="lead text-muted mb-4"></p>
                <form class="searchform searchform-lg">
                  <input class="form-control form-control-lg bg-white rounded-pill pl-5" type="search" placeholder="Search" aria-label="Search">
                </form>
              </div>
              <div class="row my-4">
                {% for topic in topics %}
                <div class="col-6 col-lg-3">
                  <div class="card shadow mb-4">
                    <div class="card-body">
                      <i class="fe fe-code fe-32 text-primary"></i>
                      <a style="cursor: pointer;" data-toggle="modal" data-target="#{{ topic.topic_name|slugify }}">
                        <h3 class="h5 mt-4 mb-1">{{ topic.topic_name }}</h3>
                      </a>
                      <p class="text-muted"></p>
                    </div> <!-- .card-body -->
                  </div> <!-- .card -->
                </div> <!-- .col-md-->
                {% endfor %}
                
              </div> <!-- .row -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        
        <!-- Modal -->
        {% for topic in topics %}
        <div class="modal fade" id="{{ topic.topic_name|slugify }}" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">{{ topic.topic_name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% include 'webpages/links.html' %}

      </main> <!-- main -->
    </div> <!-- .wrapper -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    
  </body>
</html>