{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Solutions</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">

		<!-- highlightJS -->
		<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/atom-one-dark.min.css">

		<link rel="stylesheet" href="{% static 'css/high.css' %}">
		<style>
			.hljs {
				font-size: medium;
				border-radius: 0.5em;
			}
		</style>

  </head>
  <body class="horizontal  light  ">
    <div class="wrapper">
    {% include 'includes/navbar.html' %}
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
						<div class="col-9"> 
							<h2 class="page-title">Code Combat - Python</h2>
              <p class="lead text-muted">Solutions for all the levels in python3</p>
              <div class="row">

                <div class="col-md-12 mb-4">
											 
									<div class="accordion w-100" id="accordion1">
										{% for question in questions %}
                    <div class="card shadow">
                      <div class="card-header" id="heading1">
                        <a role="button" href="#collapse{{ question.question_id }}" data-toggle="collapse" data-target="#collapse{{ question.question_id }}" aria-expanded="false" aria-controls="collapse1">
                          <strong>{{ question.question_title }}</strong>
                        </a>
                      </div>
                      <div id="collapse{{ question.question_id }}" class="collapse hide" aria-labelledby="heading1" data-parent="#accordion1">
                        <div class="card-body">
													{{ question.solution | safe }}
													<kbd>Date Added:  {{ question.date_created | date:"M d, Y" }}</kbd>
												</div>
                      </div>
                    </div>
										{% endfor %}
                  </div>

                </div>

						</div>
            
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        
      </main> <!-- main -->
    </div> <!-- .wrapper -->

    {% include 'webpages/links.html' %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
		<script>hljs.highlightAll();</script>
  </body>
</html>